<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <script defer src="js/script.js"></script>
        <title>Rango Primos</title>
    </head>
    <body>
        <h1>Ingresa el rango de numeros:</h1>
        <form action="./result" method="post" id="formularioProducto">
            <input type="text" id="nombre" name="nombre" placeholder="ingresa el nombre del producto" required>
            <input type="number" id="precio" nim="0" name="precio" placeholder="ingresa el precio del producto" required>
            <input type="text" id="descripcion" name="descripcion" placeholder="ingresa la descripcion del prioducto" required>
            <input type="submit" id="subir" value="subir">
        </form>
    </body>
</html>